body{
    background-color: #008DDA;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: Optima, sans-serif;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #CDFCF6;
    padding: 15px 70px;
    transition: 0.1s;
}

.logo{
    display: flex;
    text-align: center;
    color: #121481;
    font-size: 45px;
    font-family: URW Chancery L, cursive;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar{
    display: flex;
    column-gap: 2rem;
}

.navbar li{
    position: relative;
}

.navbar a{
    font-size: 20px;
    color: #3652AD;
    padding: 11px 20px;
}

.navbar a:hover{
    color: #219C90
}

.content {
    margin-top: 95px;
    padding: 20px;
    text-align: left;
    color: #074173;
    text-transform: uppercase;
    font-size: 21px;
}

section{
    padding: 4.5rem 0 1.5rem;
}

.slider {
    width: 90%;
    max-width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: relative;
    overflow: hidden;
    top: -60px;
    padding: 0 5%;
}


@media screen and (max-width: 768px) {
    header {
        padding: 11px 4%;
    }

    #menu-icon {
        display: initial;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #CDFCF6;
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .navbar.active {
        display: flex;
    }
    
    .navbar li {
        width: 100%;
        text-align: center;
    }

    .slider {
        height: 400px;
    }
}

.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.list img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content:space-between;
}

.buttons button{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #10439F;
    color: aqua;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.dots{
    position: absolute;
    bottom: 10px;
    color: aliceblue;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: aliceblue;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.active{
    width: 30px;
}

#menu-icon{
    font-size: 30px;
    cursor: pointer;
    z-index: 1001;
    color: #121481;
    display: none;
}

.content h1 {
    font-family: Helvetica, sans-serif;
}

#featured1 {
    text-align: center;
    font-size: 29px;
    text-transform: uppercase;
    color: #C5FFF8;
    margin-top: -70px;
}

#featured1 .products{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    margin-top: -10px;
}

#featured1 .cars{
    width: 26%;
    min-width: 250px;
    padding: 10px 12px;
    border: 2px solid #CDE8E5;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 10px;
    transition: 0.1s ease;
}

#featured1 .cars:hover{
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
}

#featured1 .cars img{
    width: 100%;
    border-radius: 5px;
}

footer{
    background: #1B3C73;
    padding-top: 50px;
    padding-bottom: 20px;
}

.contain{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;

}

.footer-content{
    width: 33.3%;
}

h3{
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-family: sans-serif;
    color: #BBE2EC;
    font-weight: bold;
}

.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
    color: #E9F6FF;
    font-family: sans-serif;
}

.footer content ul{
    text-align: center;
}

.links{
    padding: 0;
}

.links li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.links li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #C5FFF8;
    transition-duration: .3s;
}

.links li:hover::before{
    width: 70px;
}

.social-icons{
    text-align: center;
    padding: 0;
}

.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i{
    color: #E9F6FF;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: #E9F6FF;
}

a:hover{
    color: #1AACAC;
}

.social-icons i:hover{
    color: #1AACAC;
}

.bottom-bar{
    text-align: justify;
    padding: 10px 0;
    margin-top: 50px;
}

.bottom-bar p{
    color: #E9F6FF;
    margin: 0;
    font-size: 14px;
    padding: 7px;
    text-align: left;
}

@media screen and (max-width: 768px) {
    header {
        padding: 11px 4%;
    }

    #menu-icon {
        display: initial;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #CDFCF6;
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .navbar.active {
        display: flex;
    }
    
    .navbar li {
        width: 100%;
        text-align: center;
    }

    .slider {
        height: 400px;
    }
}